body{
    border: 1px solid black;
    height: 600px;
    width: 500px;
    text-align: center;
    margin: 50px 500px;
}
/* table{
    height: 500px;
    width: 600px;
} */
table td{
    padding: 5px 10px;
   
}